* {
  margin: 0%;
  padding: 0%;
}

nav {
  width: 100%;
  background-color: #4ce738;
  padding: 15px;
}

nav ul {
  list-style: none;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: right;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0 15px;
}

nav ul li a:hover {
  color: yellow;
}

#saf img {
  height: 100px;
  width: auto;
  padding-bottom: 200px;
  background-color: white;
  margin-right: 900px;
  padding: 0px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/*Styling the about page */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.about{
  
}
.footer-bottom {
  background: #006f3c;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
  margin-top: 20px;
  position: sticky;
}
